/* Define custom variables for colors based on curent theme */
html {
    /*--card-bg: var(--haze);*/                       /* Grey BG for cards in single mode view */
    --inlineCode-color: rgb(194, 29, 0);            /* (default) color for inline code */
}

html[data-mode="dim"] {
    --card-bg: var(--bg);                             /* (default) bg color for kb cards */
    --inlineCode-color: rgb(169, 76, 59);           /* (custom) color for inline code */
}

@media (prefers-color-scheme: dark) {
    html:not([data-mode="lit"]) {
        --card-bg: var(--post-bg);                    /* (default) bg color for kb cards */
        --inlineCode-color: rgb(169, 76, 59);       /* (custom) color for inline code */
    }
}

/* Header logo */
.nav_brand .logo {
    height:2rem;
}

/* Sidebar logo */
.author_header {
    display: block;
    text-align: center;
}
.author_header img {
    max-width: 12rem;
}

/* Post thumbnail */
.excerpt_thumbnail {
    text-align: center;
}

.excerpt_thumbnail img {
    max-height: 13rem;
}


/* Post splash screen */
.image_featured {
    border-radius: 0.5rem;
}

/* Caption of post pictures set a figures */
figure figcaption h4 {
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 15px;
}

figure figcaption h4:before {
    content: "Caption: ";
}

/* Border around some pictures for better visibility */
html[data-mode="lit"] .picture-border {
    border: 1px solid #575757;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

/* KB cards */
.content .cards .post_item {
    /* float: left; */
    max-width: 25rem;
    margin: 1rem;
    display: inline-flex;
}

.content article .card {
    --color-mode: 'lit';
    border-radius: 0.5rem;
    border: 2px solid #575757;
    padding: 1rem;
    background-color: var(--card-bg);
}

/* About page */
.about-vexpert {
    width:30rem;
}

/* Inline code */
code.noClass {
    color: var(--inlineCode-color);
}

/* Used in post_meta.html */
.post_author {
    margin: 0 0.5rem;
}