---
---

//
// Customizations
// 

body { overflow: auto; } // fix clr-issue with x-scrollbar
.main-container { height:100% }; // fix clr issue with background

.date {
  font-weight: bold;
  float:left;
}

.info {
  display: inline-block;
  width: 100%;
  margin-top:0.5rem;
}

.small {
  font-size:0.9em;
}

.right {
  float: right;
  text-align: right;
}

.center {
  text-align: center;
}

img {
  max-width: 100%;
}

.comments {
  margin-top:20px;
}

pre {
  padding: 0.5rem;
  background-color: #efefef;
}

.vexpert {
  max-width:180px;
}

.post h1 {
  font-weight: 400;
}

.post_infos, .post_entry, .comments {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#markdown-toc {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

