---
---

//
// Customizations
// 

body { overflow: auto; } // fix clr-issue with x-scrollbar
.main-container { height:100% }; // fix clr issue with background

.date {
  font-weight: bold;
}

.small {
  font-size:0.9em;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

img {
  max-width: 100%;
}

.comments {
  margin-top:20px;
}

pre {
   padding: 12px;
   background-color: #efefef;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

