---
---

//
// Customizations
// 

body { overflow: auto; } // fix clr-issue with x-scrollbar
.main-container { height:100% }; // fix clr issue with background

.date {
  font-weight: bold;
  float:left;
}

.info {
  display: inline-block;
  width: 100%;
  margin-top:0.5rem;
}

.small {
  font-size:0.9em;
}

.right {
  float: right;
  text-align: right;
}

.center {
  text-align: center;
}

img {
  max-width: 100%;
}

.comments {
  margin-top:20px;
}

pre {
  padding: 0.5rem;
  background-color: #D9E4EA;
}

.vexpert {
  max-width:180px;
}

.posts h1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.posts article {
  border-top: 1px solid #ccc;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.posts article .thumb {
  border-radius: .125rem;
  border: 1px solid #ccc;
  float: left;
  max-width: 7rem;
  margin-right: 1rem;
}

.posts article:first-child {
  border-top: none;
}

.post_infos, .post_entry, .comments {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.posts article .entry {
  text-align: justify;
}

.post_entry img {
  border-radius: .125rem;
  border: 1px solid #ccc;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#markdown-toc::before {
  content: "Table of contents:";
  font-weight: bold;
  font-size:0.66rem;
  margin-bottom:0.5rem;
}

#markdown-toc {
  padding: 0.25rem;
  border-radius: .125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-left: 0.25rem solid #002538;
  padding-left: 0.5rem;
  background-color: #efefef;
  width: 100%;
}


// Remove title for better responsive design on smaller screens
@media only screen and (max-width: 400px) {
  .title {
    display: none;
  }
  .header .branding, header .branding {
     min-width: 0px;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

