---
layout: default
---

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1"></div>
    <div id="main" role="main" class="content-area col-xs-12 col-sm-12 col-md-12 col-lg-7">
        {{ content }}
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <div class="card">
            <div class="card-header">
                Social medias
            </div>
            <div class="card-block center">
                <p>
                  {% include svg-icons.html %}
                </p>
                <p>
                  <a href="/about/"><img src="/images/vexpert.png" class="vexpert"></a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Blog post tags
            </div>
            <div class="card-block">
                {% include blog_tags.html %}
            </div>
        </div>
    </div>
</div>
